# REGENOVA Configuration Template (.env.example)
# Copy this file to .env and fill in the values.
# NEVER commit .env to GitHub.

# Email / SMTP Configuration for User Management (Confirmation, Password Reset)
REGENOVA_MAIL_DEBUG = False
REGENOVA_MAIL_SERVER = "email-smtp.us-east-1.amazonaws.com"
REGENOVA_MAIL_PORT = 587
REGENOVA_MAIL_USE_TLS = True
#default False
REGENOVA_MAIL_USE_SSL = False
REGENOVA_MAIL_USERNAME = "YOUR_AWS_SES_SMTP_USERNAME"
REGENOVA_MAIL_PASSWORD = "YOUR_AWS_SES_SMTP_PASSWORD"
REGENOVA_MAIL_DEFAULT_SENDER = "noreply@yourdomain.com"
